@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-ExtraBold.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url(./Chronicle\ Display\ Semibold.otf);
    font-weight: 600;
}